.search{
    display: block;
    width: 500px;
    margin: 50px auto;
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 10px;

}


.mainTable{
    max-width: 1180px;
    margin: 50px auto;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    text-align: center;
    background-color: #eaeaea;
}

 td{
    border-top: 1px solid #d1d1d1;
    border-collapse: collapse;
}


.mainTable tr img{
    height: 40px;
}

td, th{
    padding: 10px 20px;
}



